.container {
    padding-left: 6em;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "hd  hd   hd"
        "sd  main main"
        "ft  ft   ft";
}
.rectangle {
    color: blanchedalmond;
}
.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.content {
    grid-area: main;
}

.sidebar {
    grid-area: sd;
}

}
.name {
    text-align: center;
    font-size: 6em;
    color: blanchedalmond;
    background-color: black;
    border-style: double;
    margin-bottom: 10px;
}

.section2 {
    font-size: 2em;
    display: inline-block;
    flex-direction: wrap;
}

.section3 {
    font-size: 1em;
    display: inline-block;
    flex-direction: wrap;
}

p {
    font-size: 20px;
}
body {
    background-color: black;
}
.picture4 {
    max-width: 50%;
    padding-left: 3em;
}
.picture5 {
    max-width: 50%;
    padding-left: 40em;
    padding-top: 15em;

}
.title3 {
    font-size: x-large;
    color: bisque;
    padding-left: 2em;
}
.picture7 {
    width: 100%;
}
.texte2 {
    font-size: auto;
    color: bisque;
    padding-left: 2em;
    padding-right: 2em;
    text-align: right;
}
hr {
    color: blue;
}